body {
    font-family: 'Poppins', sans-serif;
    background-color: #FEFEFE;
}

.div-cabecalho {
    border-bottom: 1px solid lightgray;
}

.cabecalho { 
    width: 1650px;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 65px;
    margin: 5px 0;
}

.nav-cabecalho {

    position: absolute;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    right: 0px;
    top: 35%;
    
}

.li-cabecalho {
    display: inline-block;
    margin: 0 0 0 15px;
    font-weight:bold;
    transition: 0.3s;
}

.li-cabecalho:hover {
    transform: scale(1.1);
}

.icon {
    width: 18px;
}

.menu {
    width: 940px;
    margin: 0 auto;
}

.nav-menu {
    font-size: 20px;
    margin: 50px 0 0;
    text-align: center;
}

.li-menu {
    font-weight: 100;
    margin: 0 15px;
    display: inline-block;
    transition: 0.55s;
}

.li-menu:hover {
    transform: scale(1.1);
}

.img-menu {
    width: 150px;
}

.novidades {
    width: 940px;
    margin: 30px auto 0;
}

.text-novidades {
    text-align: center;
    font-size: 70px;
}

.imagem-centro {
    display: flex;
    width: 940px;
    margin: 25px auto 30px;
}

.img-centro {
    margin: 0 auto;
    width: 850px;
}


.sec-rodape {
    margin-top: 50px;
    border-top: 1px solid lightgray;
}

.rodape {
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px auto;

}

.logo-rodape {
    width: 10%;
}

.copyright {
    text-align: center;
    margin-bottom: 10px;
    font-size: 13px;
}

/* ---------------------------------------------------------------------- CSS DOS PRODUTOS ---------------------------------------------------------------- */

.titulo-box {
    width: 1650px;
    margin: 0 auto 20px;
    border-bottom: 1px solid lightgray;
}

.mini-menu {
    display: inline-block;
    margin-top: 30px;
    margin: 30px 5px 15px 0;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.titulo {
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: 65px 0 110px;
    font-size: 45px;
}

.div-img-produtos {
    width: 1650px;
    margin: 25px auto 0;
}

.mini-box-produtos {
    width: 370px;
    height: 500px;
    display: inline-block;
    margin-left: 39px;
    transition: 0.55s;
}

.mini-box-produtos:hover {
    transform: scale(1.1);
}

.imagens-produtos {
    margin: 0 0 25px;
    width: 90%;
}

.nome-produtos {
    text-align: center;
    font-weight: bold;
    margin: 0 30px 10px 30px;
    font-size: 20px;
    transition: 0.55s;
}

.nome-produtos:hover {
    color: gray;
}

.descricao-produtos {
    font-size: 13px;
    color: gray;
    display: block;
    margin: 0 30px 5px 30px;
}

.valor-produtos {
    font-size: 20px;
    display: block;
    margin: 20px 30px 10px 30px;
    font-weight: bold;
}

.navegador-box {
    width: 87px;
    margin: 0 auto;
}
.navegador {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.page-2 {
    text-decoration: none;
    color: black;
}

.page-1 {
    text-decoration: none;
    color: black;
}
